.liSelecionado {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

#botoesApagar {
  margin-top: 15px;
}

#cimaEBaixo button {
    display: block;
}

#cimaEBaixo {
    display: inline-block;
}
