.liSelecionado {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

#botoesApagar {
  margin-top: 15px;
}

#cimaEBaixo button {
    display: block;
}

#cimaEBaixo {
    display: inline-block;
}

body {
  background-image: url('fundo 2.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-position-y: top;
}

h1 {
  text-align: center;
  margin-top: 145px;
}

main {
  margin-left: 470px;
}