.liSelecionado {
  background-color: gray;
  word-break: break-all;
}

.completed {
  text-decoration: line-through solid black;
  color: red;
}

#botoesApagar {
  margin-top: 15px;
}

#cimaEBaixo button {
  display: block;
}

#cimaEBaixo {
  display: inline-block;
  margin: 5px;
}

body {
  background-image: url('fundo 2.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-position-y: top;
}

h1 {
  text-align: center;
  margin-top: 145px;
}

main {
  margin-left: 470px;
}

#mover-cima {
  margin-bottom: 5px;
}

#criar-tarefa {
  margin-left: 5px;
}

#div2 {
  display: inline-block;
}

#listaOrdenada {
  display: inline-block;
}
